.bgImage{
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size:cover
}

.tcgImage{
  background-image: url("projectsImg/project_pokemon_tcg_explorer.png");
}

.retroPokedexImage{
  background-image: url("projectsImg/project_retro_pokedex.png");
  background-position: 20% ;
}

.borderedText{
  text-shadow: 3px 0 #000000, -3px 0 #000000, 0 3px #000000, 0 -3px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}